* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

.body-introduction-container {
  background-color: rgb(15, 28, 54);
  color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.minecraft-logo-container {
  margin-left: 30px;
}

.minecraft-logo {
  width: 60px;
  height: 70px;
}

.header-links {
  display: flex;
  color: gray;
  justify-content: center;
  align-items: center;
  margin-right: 70px;
}

.description-container {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
}

.header-description {
  display: flex;
  font-size: 20px;
  margin-top: 50px;
}

.text-description {
  font-size:17px;
  color: gray;
  justify-content: flex-start;
  flex: 1;
}

.description-button {
  background-color: rgb(75, 120, 243);
  color: #fff;
  border-radius: 5px;
  border: 2px solid rgb(75, 120, 243);
  padding: 3px;
  margin-top: 10px;
}

.mobs-information-container {
  display: flex;
  margin-top: 40px;
}

.title-mobs-information {
  flex: 1;
  justify-content: center;
}

.size-image {
  width: 10px;
  height: 100px;
  margin: 0;
}

/* esta parte es dificil, a partir de aqui adelantare lo facil*/

.phrase-text-container {
  background-color: #E5E7EB;
  display: flex;
}

.phrase-information {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  flex: 1;
  justify-content: center;
}

.author {
  color: #1F2937;
}
